<mat-card>
  <p>
    <mat-toolbar color="primary">Formulário de Cadastro</mat-toolbar>
  </p>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Categoria" formControlName="category">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="full-widt">
    <button mat-raised-button color="primary" (click)="onSubmit()" class="bt-separator">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
